# Please copy this file into 'config.auto.tfvar' and define the values for the infrastructure
# 'config.auto.tfvar' gives your environment a unique name within a single cloud provider account.

# This value can not be altered after the configuration has been applied.
environment_name = "<ENVIRONMENT>"

# Cloud provider region that this configuration will deploy to.
region = "<REGION>"

# Additional tags for all resources to be created.
custom_tags = {
  Terraform = "true"
  [<TAG>  = "<VALUE>"]
}



