name: E2E Testing
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  test:
    name: E2E Testing
    runs-on: ubuntu-latest
    env:
      AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}

    steps:
      - name: Checkout
        uses: actions/checkout@v2
        
      - name: Install aws-iam-authenticator
        working-directory: test/
        run: |
          curl -o aws-iam-authenticator https://amazon-eks.s3.us-west-2.amazonaws.com/1.21.2/2021-07-05/bin/linux/amd64/aws-iam-authenticator
          chmod +x ./aws-iam-authenticator
          mkdir -p $HOME/bin && cp ./aws-iam-authenticator $HOME/bin/aws-iam-authenticator &&  echo "$PATH:$HOME/bin" >> $PATH
          aws-iam-authenticator version
          
      - name: Setup Go environment
        uses: actions/setup-go@v2.1.4
        with:
          go-version: 1.17

      - name: Setup dependencies
        working-directory: test/
        run: go get -v -t -d ./... && go mod tidy

      - name: E2E tests
        working-directory: test/
        run: |
          # this is required to use aws-iam-authenticator.
          # export PATH=$PATH:$HOME/bin
          # go test ./e2etest/... -v -timeout 50m > e2e-test.log
          aws-iam-authenticator version

      - name: Upload test log files
        if: always()
        uses: actions/upload-artifact@v2
        with:
          name: e2e-test-log-file
          path: test/e2e-test.log
