name: E2E Testing
on:
  push:
    branches:
      - main
    paths-ignore: # https://docs.github.com/en/actions/learn-github-actions/workflow-syntax-for-github-actions#example-ignoring-paths
      - 'docs/**'
      - '.atlassian/**'
  workflow_dispatch:

jobs:
  test:
    name: E2E Testing
    runs-on: ubuntu-latest
    env:
      AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      TF_VAR_license: ${{ secrets.TF_VAR_LICENSE }}

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Install aws-iam-authenticator
        working-directory: test/
        run: |
          curl -o aws-iam-authenticator https://amazon-eks.s3.us-west-2.amazonaws.com/1.21.2/2021-07-05/bin/linux/amd64/aws-iam-authenticator
          chmod +x ./aws-iam-authenticator
          mkdir -p $HOME/bin && cp ./aws-iam-authenticator $HOME/bin/aws-iam-authenticator &&  export PATH=$PATH:$HOME/bin
          aws-iam-authenticator version

      - name: Setup Go environment
        uses: actions/setup-go@v2.1.4
        with:
          go-version: 1.17

      - name: Setup dependencies
        id: setup-dependencies
        working-directory: test/
        run: |
          go get -v -t -d ./... && go mod tidy
          echo ::set-output name=exit_code::$?
      
      - name: Create test output directory
        run: mkdir test/e2etest/artifacts

      - name: E2E test
        id: e2e-test
        working-directory: test/
        run: |
          set -o pipefail
          # this is required to use aws-iam-authenticator.
          export PATH=$PATH:$HOME/bin
          cp ../variables.tf ../pkg/modules/AWS/asg_ec2_tagging/
          echo "environment_name = \"dummy-environment\"" >> ../pkg/modules/AWS/asg_ec2_tagging/dummy-config.auto.tfvars
          echo " locals {" > ../pkg/modules/AWS/asg_ec2_tagging/dummy-tfstate-local.tf
          echo "     dynamodb_name = \"dummy\"" >> ../pkg/modules/AWS/asg_ec2_tagging/dummy-tfstate-local.tf
          echo "     bucket_name   = \"dummy\"" >> ../pkg/modules/AWS/asg_ec2_tagging/dummy-tfstate-local.tf
          echo "     bucket_key    = \"dummy\"" >> ../pkg/modules/AWS/asg_ec2_tagging/dummy-tfstate-local.tf
          echo " }" >> ../pkg/modules/AWS/asg_ec2_tagging/dummy-tfstate-local.tf
          go test ./e2etest -v -timeout 40m -run Bamboo | tee ./e2etest/artifacts/e2etest.log

      - name: Clean up test
        if: always()
        working-directory: test/
        run: |
          set -o pipefail
          # this is required to use aws-iam-authenticator.
          export PATH=$PATH:$HOME/bin
          go test ./e2etest -v -timeout 40m -run Cleanup | tee ./e2etest/artifacts/e2e-test-cleanup.log

      - name: Upload test log files
        if: always()
        uses: actions/upload-artifact@v2
        with:
          name: e2e-test-artifacts
          path: test/e2etest/artifacts/
