name: E2E Testing
on:
  push:
    branches:
      - main
    paths-ignore: # https://docs.github.com/en/actions/learn-github-actions/workflow-syntax-for-github-actions#example-ignoring-paths
      - 'docs/**'
      - '.atlassian/**'
      - 'test/unittest**'
  workflow_dispatch:

jobs:
  test:
    name: E2E Testing
    runs-on: ubuntu-latest
    env:
      AWS_DEFAULT_REGION: us-east-1
      AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      TF_VAR_bamboo_license: ${{ secrets.TF_VAR_LICENSE }}

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Setup Go environment
        uses: actions/setup-go@v2.1.4
        with:
          go-version: 1.17

      - name: Setup dependencies
        id: setup-dependencies
        working-directory: test/
        run: |
          go get -v -t -d ./... && go mod tidy
          echo ::set-output name=exit_code::$?

      - name: Create test output directory
        run: mkdir test/e2etest/artifacts

#       - name: E2E test
#         id: e2e-test
#         working-directory: test/
#         run: |
#           set -o pipefail
#           go test ./e2etest -v -timeout 60m -run Installer | tee ./e2etest/artifacts/e2etest.log

      - name: Upload test log files
        if: always()
        uses: actions/upload-artifact@v2
        with:
          name: e2e-test-artifacts
          path: test/e2etest/artifacts/
